/* Universal selectors to apply to the whole page */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
	font-family: 'News Cycle', sans-serif;
}

body {
  background-color: #59A6BA;
  color: #1D6D9B;
  font-family: 'News Cycle', sans-serif;
}

.hidden {
  display: none;
}

/* Header */
#header {
  align-items: center;
  display: flex;
  justify-content: space-between;
	text-align: center;
}

#start-button {
  align-items: center;
  color: purple;
  cursor: grab;
	font-size: 2rem;
  justify-content: center;
  min-height: 200px;

  text-align: center;

}

/* First page */
#first-page {
  align-items: space-between;
  background-color: #C9A68D;
  border: solid black 0.03rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.main-header {
  color: #003862;
  font-size: 4rem;
}

#stats a {
  color: purple;
  display: flex;
  font-size: 0.8rem;
  justify-content: left;
  margin-bottom: 20px;
  margin-left: 20px;
  text-decoration: none;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 20px;
}

#welcome-text {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;

}

#welcome-text p {
  color: #1D6D9B;
  font-size: 2rem;
	margin-bottom: 200px;
}

/* Quiz */
#quiz-container {
  align-items: center;
  background-color: #1D6D9B;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  min-height: 500px;
  min-width: 500px;
  padding: 0;
  width: 100%;
}

.choice-list {
  align-content: center;
  justify-content: left;
}

.li {
  justify-content: left;
  list-style: upper-roman;
  padding: 10px;
}


  .choice-btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  margin: 10px;
	align-items: center;
  background-color: #59A6BA;
  border: #ffffff 1px solid;
  border-radius: 12px;
  color: purple;


}

#next {
  align-items: center;
  background-color: #FFFFFf;
  color: purple;
  min-height: 40px;
  min-width: 80px;

}
